templates/NovaFinreport Ingestion.json
{
  "name": "NovaFinreport Ingestion",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        -128
      ],
      "id": "338bd3cf-b582-48f2-968a-0bb164ad75a0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1tuNm69zcm6gs6zPOoat-3Fk8b3G6kylb",
            "mode": "list",
            "cachedResultName": "Internal Resources",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1tuNm69zcm6gs6zPOoat-3Fk8b3G6kylb"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        -128
      ],
      "id": "a4282b4a-8266-4e21-9abf-091443e04933",
      "name": "Search files and folders",
      "credentials": {
        "googleApi": {
          "id": "uAQWFyJ7SCIuOmVy",
          "name": "Google Drive account 5"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        -128
      ],
      "id": "8189e538-ce47-478d-832e-8feece883d28",
      "name": "Download file",
      "credentials": {
        "googleApi": {
          "id": "uAQWFyJ7SCIuOmVy",
          "name": "Google Drive account 5"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "novafinreport",
          "mode": "list",
          "cachedResultName": "novafinreport"
        },
        "options": {
          "pineconeNamespace": "Finreport"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        400,
        -128
      ],
      "id": "8a510b45-cbb5-4922-a41e-018a795441da",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YSZoa0raJag3OEyM",
          "name": "Pinecone account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        144
      ],
      "id": "b79373c9-d9fd-41b5-8435-55b88e994e58",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "o2i0UEEQ8m4YpYSP",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        544,
        80
      ],
      "id": "22efdbda-bb36-4bdd-bfc3-a4f9d342458d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        640,
        192
      ],
      "id": "84a7d710-f949-4a9d-9f1e-71becbf091ab",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7ab4c4c8-3c44-43dc-9879-1226787b1919",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bba76e5e166a4f7645277641896085af1c1b10d058677e234de9d24b7db7752c"
  },
  "id": "dazsGvFlO0CxN44V",
  "tags": []
}